*{
    margin: 0;
    padding: 0;
}

body{
    background: url(rain.gif) no-repeat center center fixed;
    background-size: cover;
}
.ok{
	background: linear-gradient(45deg, #e7d63c, hsl(108, 91%, 23%), #c1f0c8);
	background-size: 500% 500%;
	animation: change-gradient 10s ease-in-out infinite;
}
.container{
	text-align: center;
    padding: 159px;
	position: relative;
	background-size: 100% 100%;	
}

.footer{
	color: #ebf3eb;
	font: italic bold 20px/1 "Calibri", sans-serif;
	text-align: center;
}

@keyframes change-gradient {
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0 50%;
	}
}

/* Text Area */
.ml-container{
	color: cornsilk;
    margin: -17px 0;
	flex: 1 0 auto;
}

/* Predict Button */
.my-cta-button{
	background: #f9f9f9;
   	border: 2px solid #000000;
    border-radius: 1000px;
    box-shadow: 3px 3px #8c8c8c;
	margin-top: 10px;
    padding: 10px 36px;
    color: #000000;
    display: inline-block;
   	font: italic bold 20px/1 "Calibri", sans-serif;
    text-align: center;
}

.container-heading{
	text-align: center;
	height: 24px;
	width: 1278px;
	font: italic bold 20px/1 "Calibri", sans-serif;
	background: linear-gradient(45deg, #e7d63c, hsl(108, 91%, 23%), #c1f0c8);
    padding: 27px;
	position: relative;
	background-size: 500% 500%;
	animation: change-gradient 10s ease-in-out infinite;
}
.description{
	text-align: center;
	font: italic bold 20px/1 "Calibri", sans-serif;
}

.gif {
	background-color: #ad0202;
	width: 1340px;
	height: 550px;
  }

  .gif1 {
	background-color: hsl(120, 97%, 26%);
	width: 1340px;
	height: 550px;
  }

h1.danger{
	color: rgb(17, 17, 16);
	text-align: center;	
}

h1.safe{
	color: rgb(17, 17, 16);
	text-align: center;
}
